// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
//@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.bg-primary {
  background-color: #D94350;
  color: #F2EB8C;
}

.bg-secondary {
  background-color: #60A2E3;
  color: #FFF;
}

.jumbotron-newsletter {
  min-height: 500px;

  h1 {
    margin-bottom: 30px;
  }
}

// Home Page
.header {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #0B172A;
  color: #F2F2F2;

  h1 {
    line-height: 1.6;
  }
}

.ctas {
  color: #FFF;
  .left {
    padding: {
      top: 100px;
      left: 20px;
    }
    width: 100%;
    height: 300px;
    background-color: #60A2E3;
  }
  .right {
    padding: {
      top: 50px;
      left: 10px;
    }
    width: 100%;
    height: 300px;
    background-color: #66ADEC;
  }
}

.explainer {
  padding-top: 100px;
  padding-bottom: 30px;
  .top {
    margin-bottom: 30px;
  }
  h3 {
    color: #222;
  }
  .icon {
    font-size: 100px;
    color: #0B172A;
  }
}

.details {
  padding: {
    top: 30px;
  }
  color: #FFF;
  background-color: #66A1E7;
}

footer {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #66ADEC;
}

